.detail{
    flex: 1;

    .user{
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        border-bottom: 1px solid #dddddd35;

        img{
            height: 55px;
            width: 55px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .info{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .option{

            .title{
                display: flex;
                align-items: center;
                justify-content: space-between;

                img{
                    width: 30px;
                    height: 30px;
                    background-color: rgba(17, 25, 40, 0.3); 
                    padding: 10px;   
                    border-radius: 50%;
                    cursor: pointer;   
                }
            }

        }
    }
}